In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
path='result.xlsx'
data=pd.read_excel(path, 'Результаты', skiprows=1, engine='openpyxl')

In [3]:
data.shape

(100, 8)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Фамилия         100 non-null    object
 1   Имя             100 non-null    object
 2   Отчество        100 non-null    object
 3   Пол             100 non-null    int64
 4   Адрес           100 non-null    object
 5   Тестирование 1  100 non-null    int64
 6   Тестирование 2  100 non-null    int64
 7   Тестирование 3  100 non-null    int64
dtypes: int64(4), object(4)
memory usage: 6.4+ KB

In [5]:
data

,Фамилия,Имя,Отчество,Пол,Адрес,Тестирование 1,Тестирование 2,Тестирование 3
0,Сидоров,Иван,Петрович,1,"Россия, Республика Северная Осетия-Алания, г. ...",53,70,65
1,Скворцов,Кирилл,Иванович,1,"Россия, Ставропольский край, г. Пятигорск",14,80,57
2,Новикова,Мария,Романовна,2,"Россия, Алтайский край, г. Барнаул",37,52,80
3,Пономарева,Мадина,Даниэльевна,2,"Россия, Омская область, г. Красногорск",64,80,82
4,Ковалев,Эмиль,Владимирович,1,"Россия, Республика Северная Осетия-Алания, г. ...",63,93,76
...,...,...,...,...,...,...,...,...
95,Демидова,Анна,Глебовна,2,"Россия, Ставропольский край, г. Железноводск",22,34,30
96,Савельева,Кристина,Андреевна,2,"Россия, Республика Северная Осетия-Алания, г. ...",26,93,7
97,Сазонов,Фёдор,Даниилович,1,"Россия, Ставропольский край, г. Пятигорск",2,76,93
98,Кудрявцева,Мария,Даниэльевна,2,"Россия, Алтайский край, г. Барнаул",39,49,92
99,Бирюкова,Кристина,Павловна,2,"Россия, Омская область, г. Красногорск",31,59,99

In [6]:
data.rename(columns={'Пол':'sex_ind', 'Адрес':'address', 'Тестирование 1':'test1', 'Тестирование 2':'test2', 'Тестирование 3':'test3'}, inplace=True)

In [7]:
data['fio']=data['Фамилия'] + ' ' + data['Имя'] + ' ' + data['Отчество']
data.drop(columns=['Фамилия', 'Имя', 'Отчество'], inplace=True)

In [8]:
data.loc[data['sex_ind']==1, 'sex']='Мужской'
data.loc[data['sex_ind']==2, 'sex']='Женский'

In [9]:
data['test_avg']=data[['test1','test2','test3']].agg('mean', axis='columns')

In [10]:
data.loc[data['test_avg']>=50, 'result']='Зачтено'
data.loc[data['test_avg']<50, 'result']='Не зачтено'

In [11]:
data['address'].value_counts()

Россия, Ставропольский край, г. Пятигорск                    15
Россия, Республика Северная Осетия-Алания, г. Владикавказ    14
Россия, Омская область, г. Красногорск                        9
Россия, Алтайский край, г. Барнаул                            8
Россия, Псковская область, г. Лотошино                        8
Россия, Ростовская область, г. Таганрог                       8
Россия, Ставропольский край, г. Невинномысск                  8
Россия, Ростовская область, г. Орехово-Зуево                  7
Россия, Ставропольский край, г. Железноводск                  7
Россия, Амурская область, г. Балашиха                         6
Россия, РСО-Алания, г. Владикавказ                            3
Россия, Ставропольский кр., г. Пятигорск                      2
Россия, Амурская обл., г. Балашиха                            2
Россия, Алтайский кр., г. Барнаул                             1
Россия, Ставропольский кр., г. Железноводск                   1
Россия, Ростовская обл., г. Орехово-Зуево                     1
Name: address, dtype: int64

In [12]:
data['address'].replace(['РСО', 'кр[.]', 'обл[.]'], ['Республика Северная Осетия', 'край', 'область'], regex=True, inplace=True)

In [13]:
data['region']=data['address'].str.split(', ').str[1]

In [14]:
reg = dict(zip(['Республика Северная Осетия-Алания','Ставропольский край','Алтайский край','Омская область','Ростовская область','Псковская область','Амурская область'],
                    ['Severnaya Osetia','Stavropolskiy','Altayskiy', 'Omskaya', 'Rostovskaya', 'Pskovskaya', 'Amurskaya']))

In [15]:
data['region_key']=''
for i in reg.keys():
    data.loc[data['region']==i, 'region_key'] = reg[i]

In [16]:
data

,sex_ind,address,test1,test2,test3,fio,sex,test_avg,result,region,region_key
0,1,"Россия, Республика Северная Осетия-Алания, г. ...",53,70,65,Сидоров Иван Петрович,Мужской,62.666667,Зачтено,Республика Северная Осетия-Алания,Severnaya Osetia
1,1,"Россия, Ставропольский край, г. Пятигорск",14,80,57,Скворцов Кирилл Иванович,Мужской,50.333333,Зачтено,Ставропольский край,Stavropolskiy
2,2,"Россия, Алтайский край, г. Барнаул",37,52,80,Новикова Мария Романовна,Женский,56.333333,Зачтено,Алтайский край,Altayskiy
3,2,"Россия, Омская область, г. Красногорск",64,80,82,Пономарева Мадина Даниэльевна,Женский,75.333333,Зачтено,Омская область,Omskaya
4,1,"Россия, Республика Северная Осетия-Алания, г. ...",63,93,76,Ковалев Эмиль Владимирович,Мужской,77.333333,Зачтено,Республика Северная Осетия-Алания,Severnaya Osetia
...,...,...,...,...,...,...,...,...,...,...,...
95,2,"Россия, Ставропольский край, г. Железноводск",22,34,30,Демидова Анна Глебовна,Женский,28.666667,Не зачтено,Ставропольский край,Stavropolskiy
96,2,"Россия, Республика Северная Осетия-Алания, г. ...",26,93,7,Савельева Кристина Андреевна,Женский,42.000000,Не зачтено,Республика Северная Осетия-Алания,Severnaya Osetia
97,1,"Россия, Ставропольский край, г. Пятигорск",2,76,93,Сазонов Фёдор Даниилович,Мужской,57.000000,Зачтено,Ставропольский край,Stavropolskiy
98,2,"Россия, Алтайский край, г. Барнаул",39,49,92,Кудрявцева Мария Даниэльевна,Женский,60.000000,Зачтено,Алтайский край,Altayskiy
99,2,"Россия, Омская область, г. Красногорск",31,59,99,Бирюкова Кристина Павловна,Женский,63.000000,Зачтено,Омская область,Omskaya

In [17]:
data = data.reindex(columns=['fio', 'sex_ind', 'sex', 'address', 'region', 'region_key', 'test1', 'test2', 'test3', 'test_avg', 'result'])

In [18]:
data = data.set_index(pd.Index(range(1, data.shape[0]+1)))

In [19]:
data

,fio,sex_ind,sex,address,region,region_key,test1,test2,test3,test_avg,result
1,Сидоров Иван Петрович,1,Мужской,"Россия, Республика Северная Осетия-Алания, г. ...",Республика Северная Осетия-Алания,Severnaya Osetia,53,70,65,62.666667,Зачтено
2,Скворцов Кирилл Иванович,1,Мужской,"Россия, Ставропольский край, г. Пятигорск",Ставропольский край,Stavropolskiy,14,80,57,50.333333,Зачтено
3,Новикова Мария Романовна,2,Женский,"Россия, Алтайский край, г. Барнаул",Алтайский край,Altayskiy,37,52,80,56.333333,Зачтено
4,Пономарева Мадина Даниэльевна,2,Женский,"Россия, Омская область, г. Красногорск",Омская область,Omskaya,64,80,82,75.333333,Зачтено
5,Ковалев Эмиль Владимирович,1,Мужской,"Россия, Республика Северная Осетия-Алания, г. ...",Республика Северная Осетия-Алания,Severnaya Osetia,63,93,76,77.333333,Зачтено
...,...,...,...,...,...,...,...,...,...,...,...
96,Демидова Анна Глебовна,2,Женский,"Россия, Ставропольский край, г. Железноводск",Ставропольский край,Stavropolskiy,22,34,30,28.666667,Не зачтено
97,Савельева Кристина Андреевна,2,Женский,"Россия, Республика Северная Осетия-Алания, г. ...",Республика Северная Осетия-Алания,Severnaya Osetia,26,93,7,42.000000,Не зачтено
98,Сазонов Фёдор Даниилович,1,Мужской,"Россия, Ставропольский край, г. Пятигорск",Ставропольский край,Stavropolskiy,2,76,93,57.000000,Зачтено
99,Кудрявцева Мария Даниэльевна,2,Женский,"Россия, Алтайский край, г. Барнаул",Алтайский край,Altayskiy,39,49,92,60.000000,Зачтено
100,Бирюкова Кристина Павловна,2,Женский,"Россия, Омская область, г. Красногорск",Омская область,Omskaya,31,59,99,63.000000,Зачтено

engine = create_engine('postgresql://user:password@host:port/db')

In [20]:
engine = create_engine('postgresql://postgres:JeTs445sWexdds#sds@192.168.3.30:5432/pythontest')

In [21]:
data.to_sql('test_demo', engine, if_exists='replace', method='multi', index_label='id_test')

100

con = psycopg2.connect(
    database="database",
    user="user",
    password="password",
    host="host",
    port="port"
)

In [22]:
con = psycopg2.connect(
    database="pythontest",
    user="postgres",
    password="JeTs445sWexdds#sds",
    host="192.168.3.30",
    port="5432"
)

In [23]:
cur = con.cursor()

In [24]:
cur.execute("CREATE INDEX index_region_key ON public.\"test_demo\"(region_key);")
con.commit()

In [25]:
cur.execute("ALTER TABLE public.\"test_demo\" ADD CONSTRAINT id_test PRIMARY KEY (id_test)")
con.commit()