In [ ]:
import pandas as pd
pd.options.mode.chained_assignment = None
import pymssql
from sqlalchemy import create_engine
import psycopg2

In [ ]:
con = pymssql.connect(server='server', 
                       user='user', 
                       password='password', 
                       database='database')

In [ ]:
cur = con.cursor()

Получение списка доступных таблиц

In [ ]:
cur.execute('SELECT * FROM INFORMATION_SCHEMA.TABLES')
tables = cur.fetchall()
tables

Шаблон выгрузки таблицы из базы данных

In [ ]:
cur.execute("SELECT * FROM [database].[dbo].[TableName]") 
#Вместо database и TableName впишите имя пользователя, указанное в параметрах подключения к СУБД и название нужной вам таблицы из списка доступных таблиц соответсвенно
tupples = cur.fetchall()
cur.execute("SELECT COLUMN_NAME AS [columns] FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name='TableName'")
columns=cur.fetchall()

Пример получения таблицы со списком сотрудников

In [ ]:
cur.execute("SELECT * FROM [database].[dbo].[Справочники.Сотрудники]")
tupples = cur.fetchall()
cur.execute("SELECT COLUMN_NAME AS [columns] FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name='Справочники.Сотрудники'")
columns=cur.fetchall()
staff=pd.DataFrame(tupples, columns=pd.DataFrame(columns)[0])

Пример получения таблицы со списком подразделений

In [ ]:
cur.execute("SELECT * FROM [database].[dbo].[Справочники.ПодразделенияОрганизаций]")
tupples = cur.fetchall()
cur.execute("SELECT COLUMN_NAME AS [columns] FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name='Справочники.ПодразделенияОрганизаций'")
columns=cur.fetchall()
divisions=pd.DataFrame(tupples, columns=pd.DataFrame(columns)[0])

Пример получения таблицы с окладами сотрудников

In [ ]:
cur.execute("SELECT * FROM [database].[dbo].[Документы.НачислениеЗарплаты.НачисленияПоДоговорам]")
tupples = cur.fetchall()
cur.execute("SELECT COLUMN_NAME AS [columns] FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name='Документы.НачислениеЗарплаты.НачисленияПоДоговорам'")
columns=cur.fetchall()
salary=pd.DataFrame(tupples, columns=pd.DataFrame(columns)[0])

Пример получения таблиц с начислениями зарплаты, ндфл, взносами

In [ ]:
cur.execute("SELECT * FROM [database].[dbo].[Документы.НачислениеЗарплаты.Начисления]")
tupples = cur.fetchall()
cur.execute("SELECT COLUMN_NAME AS [columns] FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name='Документы.НачислениеЗарплаты.Начисления'")
columns=cur.fetchall()
accruals=pd.DataFrame(tupples, columns=pd.DataFrame(columns)[0])

In [ ]:
cur.execute("SELECT * FROM [database].[dbo].[Документы.НачислениеЗарплаты.НДФЛ]")
tupples = cur.fetchall()
cur.execute("SELECT COLUMN_NAME AS [columns] FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name='Документы.НачислениеЗарплаты.НДФЛ'")
columns=cur.fetchall()
ndfl=pd.DataFrame(tupples, columns=pd.DataFrame(columns)[0])

In [ ]:
cur.execute("SELECT * FROM [database].[dbo].[Документы.НачислениеЗарплаты.Взносы]")
tupples = cur.fetchall()
cur.execute("SELECT COLUMN_NAME AS [columns] FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name='Документы.НачислениеЗарплаты.Взносы'")
columns=cur.fetchall()
contributions=pd.DataFrame(tupples, columns=pd.DataFrame(columns)[0])

Пример получения таблицы с информацией об отпусках сотрудников организации

In [ ]:
cur.execute("SELECT * FROM [database].[dbo].[Документы.Отпуск]")
tupples = cur.fetchall()
cur.execute("SELECT COLUMN_NAME AS [columns] FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name='Документы.Отпуск'")
columns=cur.fetchall()
vacations=pd.DataFrame(tupples, columns=pd.DataFrame(columns)[0])

Пример получения таблицы с контрагентами

In [ ]:
cur.execute("SELECT * FROM [database].[dbo].[Справочники.Контрагенты]")
tupples = cur.fetchall()
cur.execute("SELECT COLUMN_NAME AS [columns] FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name='Справочники.Контрагенты'")
columns=cur.fetchall()
counterparties=pd.DataFrame(tupples, columns=pd.DataFrame(columns)[0])

Пример получения таблиц с банковскими выписками

In [ ]:
cur.execute("SELECT * FROM [database].[dbo].[Документы.ПоступлениеНаРасчетныйСчет]")
tupples = cur.fetchall()
cur.execute("SELECT COLUMN_NAME AS [columns] FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name='Документы.ПоступлениеНаРасчетныйСчет'")
columns=cur.fetchall()
receipt=pd.DataFrame(tupples, columns=pd.DataFrame(columns)[0])

In [ ]:
cur.execute("SELECT * FROM [database].[dbo].[Документы.СписаниеСРасчетногоСчета]")
tupples = cur.fetchall()
cur.execute("SELECT COLUMN_NAME AS [columns] FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name='Документы.СписаниеСРасчетногоСчета'")
columns=cur.fetchall()
debiting=pd.DataFrame(tupples, columns=pd.DataFrame(columns)[0])

Пример получения таблицы с поступлением товаров и услуг

In [ ]:
cur.execute("SELECT * FROM [database].[dbo].[Документы.ПоступлениеТоваровУслуг]")
tupples = cur.fetchall()
cur.execute("SELECT COLUMN_NAME AS [columns] FROM INFORMATION_SCHEMA.COLUMNS WHERE table_name='Документы.ПоступлениеТоваровУслуг'")
columns=cur.fetchall()
goods=pd.DataFrame(tupples, columns=pd.DataFrame(columns)[0])

Загрузка данных в PostgreSQL

In [ ]:
engine = create_engine('postgresql://user:password@host:port/db')

In [ ]:
data.to_sql('table_name', engine, if_exists='replace', method='multi', index=False)